# How to Create Series in Python

In [1]:
import pandas as pd   #import necessary library
my_animals = ['goat','dog','cat','mouse']

In [3]:
pd.Series(my_animals)  #converting my_animals to series

0     goat
1      dog
2      cat
3    mouse
dtype: object

In [4]:
even_no = [2,8,4,10,30,16]  #converting a list of even numbers to series
pd.Series(even_no)

0     2
1     8
2     4
3    10
4    30
5    16
dtype: int64

In [6]:
# Converting a dictionary to series
my_dict = {"Work":"Office","Play":"Stadium","Study":"Class"}
pd.Series(my_dict)

Work      Office
Play     Stadium
Study      Class
dtype: object

In [5]:
# you can also convet a bolean list into series
my_bol = [False,True, True,False, False, True, False, True]
pd.Series(my_bol) #conert to series

0    False
1     True
2     True
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [7]:
# Assigning a value to series
my_life = ["Great","Dedicated","Industrous","hospitable"]
y = pd.Series(my_life) # assign the series to y
y

0         Great
1     Dedicated
2    Industrous
3    hospitable
dtype: object

In [8]:
y.values

array(['Great', 'Dedicated', 'Industrous', 'hospitable'], dtype=object)

In [9]:
y.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
y.dtype

dtype('O')

In [15]:
sales = [200,8.6,9.85]
t = pd.Series(sales)
t

0    200.00
1      8.60
2      9.85
dtype: float64

In [16]:
t.sum()

218.45

In [17]:
# return the mean
t.mean()

72.81666666666666

In [19]:
# returns the median of the series
t.median()

9.85